{% extends 'main/header.html' %} {% block content %}

<!-- Article html -->
<div class="article-banner text-center">
    <br><br>
  <div class="container">
    <h1 class="fw-bold">{{ article.article_title }}</h1>
    <p class="fw-bold" style="font-size: 15px">
      {{ article.article_published }}
    </p>
  </div>
</div>
<div class="container">
  <br />
  <p>{{ article.article_content|safe }}</p>
</div>

<style>
  .article-banner {
    background-image:
            /* The image fade to white */
      linear-gradient(to left, rgba(0, 0, 0, 0) 10%, #fff 85%),
      /* The image used */ url("{{ article.article_image.url }}");
    /* Set a specific height */
    height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: auto;
    position: relative;
  }
</style>

{% endblock %}
