
    {% extends 'main/header.html' %}

    {% block content %}

    {%load static%}
    <header>
      
    </header>

    <main>
      <!-- CTA -->
      <section id="CTA" class="cta-banner">
        <div class="container py-4">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <h1 class="cta-message display-4 fw-bold">Elevate your listening</h1>
              <h5>
                Everyday headphones that make your favorite artists sound like
                their performing a never-ending encore.
              </h5>
              {% if user.is_authenticated %}
                <a href="/user" class="btn btn-primary mt-2">VIEW WISHLIST</a>
              {% else %}
                <a href="/products" class="btn btn-primary mt-2">FIND YOUR SET</a>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

      <!-- Headlines -->
      <div class="container py-4">
        <div class="row">

          <!-- New + Updated article -->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <h5 class="text-primary">New + Updated</h5>
            <hr>
            {% for n in new_posts %}
              <a href=" {{ n.article_slug }} " class="text-dark text-decoration-none">
                <h3> {{ n.article_title }} </h3>
                <p class="text-muted" style="font-size: 12px;">
                  {{ n.article_published }}
                </p>
              </a>
            {% endfor %}
          </div>

          <!-- Most recent article -->
          <div class="col-lg-7 col-md-7 col-sm-12">

            <a href=" /{{ most_recent.article_slug }} " class="text-dark text-decoration-none">
                <img class="card-img-top" src=" {{ most_recent.article_image.url }} " alt=" {{ most_recent.article_title }} " />
                <div class="card-body">
                  <h3 class="card-title"> {{ most_article.article_title }} </h3>
                  <p class="card-text text-muted" style="font-size: 12px;"> {{ most_recent.article_published }} </p>
                  <p class="card-text">
                    {{ most_recent.article_content | safe | truncatewords:50 }}
                  </p>
                  <button class="btn btn-primary btn-sm">Read More</button>
                </div>
            </a>

          </div>

          <!-- Featured article -->
          <div class="col-lg-2 col-md-2 col-sm-12">
            <h5 class="text-primary">Featured</h5>
            <hr>
            {% for f in featured %}
              <a href=" /{{ f.article_slug }} " class="text-dark text-decoration-none">
                <img src=" {{ f.article_image.url }} " alt=" {{ f.article_title }} " class="card-img-top" >
                <h6> {{ f.article_title }} </h6>
                <p class="text-muted"> {{ f.article_published }} </p>
              </a>
            {% endfor %}
          </div>

        </div>
      </div>



      <!-- Products -->
        <div class="container py-4">
          <h2 class="fw-bold">Products</h2>
          <hr />
          <div class="row">
            {% for p in product %}
            <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
              <!-- Product Cards -->
              <div class="card h-100 no-border hover ">
                <img
                  class="card-img-top image-size"
                  src="{{ p.product_image.url }}"
                  alt="{{ p.product_name }}"
                />
                <div class="card-body d-flex flex-column">
                  <h4 class="card-title">{{ p.product_name }}</h4>
                  <p class="card-text text-muted fs-6">{{ p.product_type }}</p>
                  <p class="card-text">{{ p.product_description }}</p>
                  <p class="text-muted" style="font-size:12px">Comfort: {{ p.comfort_average }} | Performance: {{ p.performance_average }} | Durability: {{ p.durability_average }}</p>

                  <div class="row">
                    <div class="col-6">
                        {% if user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{p.pk}}" name="product_pk">
                                <button type="submit" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">★</button>
                            </form>
                        {% else %}
                            <a href="/register" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">★</a>
                        {% endif %}
                    </div>
                    <div class="col-6">
                      <a href="{{ p.affiliate_url }}" class="btn btn-warning mt-auto">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <!-- View More Link -->
           <div class="container text-end">
              <a href="/products" class="text-decoration-none">View More</a>
           </div>

        </div>

        <!-- Blogs -->
        <div class="container py-4">
          <h3 class="fw-bold">Recent Posts</h3>
          <hr>
          <div class="row">

            {% for n in new_posts %}
              <a href=" /{{ n.article_slug }} " style=" text-decoration: none ">
                <div class="col-lg-12 pb-4 text-dark">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 my-auto">
                            <img src="{{ n.article_image.url }}" alt="{{ n.article_title }}" class="img-fluid rounded">
                        </div>

                        <div class="col-lg-8 col-md-6 col-sm-12 my-auto">
                            <p>
                                {% for tag in n.article_tags.all %}
                                    <span class="badge text-bg-primary" style="font-size: 14px; color: white;"> {{ tag }} </span>
                                {% endfor %}
                            </p>
                            <h5>{{ n.article_title }}</h5>
                            <p class="card-text text-muted"> {{ n.article_published }} </p>
                            <p> {{ n.article_content|safe|truncatewords:25 }} </p>
                            <button class="btn btn-outline-dark btn-sm">View Post</button>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}

          </div>

          <div class="container text-end">
            <a href="/blog/articles" class="text-decoration-none">View More</a>
          </div>

        </div>


        <!-- CTA styling (cta-banner class) -->
          <style>
              .cta-banner {
                background-image:
                /* The image fade to white */
                linear-gradient( to left, rgba(0,0,0,0) 10%, #fff 85%),
                /* The image used */
                url("{% static "img/cta-headphones.jpg" %}");
                /* Set a specific height */
                height:400px;
                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: auto;
                position: relative;
              }

              @media only screen and (max-width:600px) {
                .cta-message {font-size:50px !important;}
              }
  	      </style>
        {% endblock %}
