{% extends 'main/header.html' %}

    {% block content %}

    <!-- Products -->
    <div class="container py-5">
        <h1 class="fw-bold">Products</h1>
        <hr>

        <div class="row">
            {% for p in page_object %}

            <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                <div class="card h-100 no-border hover py-2">
                    <img class="card-img-top image-size" src="{{ p.product_image.url }}" alt=" {{ p.product_name }} " />
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title"> {{ p.product_name }} </h4>
                        <p class="card-text text-muted"> {{ p.product_type }} </p>
                        <p class="card-text"> {{ p.product_description }} </p>
                        <a href=" {{ p.affiliate_url }} " class="btn btn-warning mt-auto">Buy Now</a>
                    </div>
                </div>
                
            </div>

            {% endfor %}
        </div>

        <!-- Pagination -->
        <div aria-label="Page navigation" class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if page_object.has_previous %}
                        <a class="pe-2" href="?page=1" class="text-decoration-none" >&laquo; </a>
                        <a class="pe-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                </li>
                <li class="page-item">
                     Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}
                </li>
                 <li class="page-item">
                    {% if page_object.has_next %}
                        <a class="ps-2" href="?page={{ page_object.next_page_number }}">Next</a>
                        <a class="ps-2" href="?page={{ page_object.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                 </li>
            </ul>
        </div>

    </div>

    {% endblock %}