{% extends "main/header.html" %}

	{% block content %}
	
	<!--User page HTML-->
    {% load crispy_forms_tags %}
    <br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Name:</p>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user.email }} </p>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
                <div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="fw-bold pt-4">Wishlist</h2>
		    		</div>
		    	</div>
                <br>
                <div class="row">
			      	{% for p in user.profile.product.all %}
				    	<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
			                <div class="h-100">
			                	<img src="{{ p.product_image.url }}" class="card-img-top" alt="{{ p.product_name }}" style="width: auto; height: 225px; object-fit: scale-down;">
			                	<div class="card-body">
			                  		<h5 class="card-title">{{ p.product_name }}</h5>
			                    	<p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
			                    	<a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>
			                	</div>
			              	</div>
			            </div>
                    {% endfor %}
                </div>		    	
		    </div> 
		</div>
    </div>

	{% endblock %}